target/
*.log
*.class

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

.vscode/

build/

.DS_Store
Thumbs.db

application-local.properties
.env
*.local